#button-add {
	background-color: #00BFA6;
}

.card {
	width: 35rem;
}

.card-header {
	font-weight: bold;
}

.btn-done {
	background-color: #00BFA6;
}

#button-done {
	background-color: #00BFA6;
}